---
ogtype:  website
eleventyExcludeFromCollections: true
seo:
  image: /img/meta.jpg
---

{% layout "base" %}


{% block css %}
  <link rel="stylesheet" href="/index.css" />
{% endblock %}

{% block main %}
  <h1>A Matter of Perspective</h1>
  <h2>We explore practical applications of Spiral Dynamics & other "psycho-technologies" to improve our lives, relationships, & perspectives.</h2>

  <button id="btn-sort">
    <span>Sort</span>
  </button>

  <ul class="article-list">
    {% for a in collections.articles %}
      <li>
        <a href="{{a.url}}" title="{{a.data.title}}">
          <h3>{{a.data.title}}</h3>
          <small>{%- excerpt a -%}</small>
        </a>
        <div>
          <time>{{a.date | date: "%b %d, %Y" }}</time>
          {{ a.data.tags | tagList }}
        </div>
      </li>
    {% endfor %}
  </ul>

  <script>
    const sortBtn = document.getElementById('btn-sort');
    const list = document.querySelector('.article-list');


    const flip = () => {
      list.classList.toggle('flip');
      sortBtn.classList.toggle('flip');
      localStorage.setItem('sort', list.classList.contains('flip'));
    }

    if (localStorage.getItem('sort')) flip();

    sortBtn.addEventListener('click', () => {
      flip();
    });
  </script>

  {% include 'signup' %}

{% endblock %}
