{% assign previousPost = collections.articles | getPreviousCollectionItem: page %}
{% assign nextPost = collections.articles | getNextCollectionItem: page %}
{% layout "base" %}

{% block css %}
<link rel="stylesheet" href="/article.css" />
{% endblock %}



{% block main %}
{% comment %} {% if previousPost %}Previous Blog Post: <a
  href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %} {% endcomment %}


<main>
  <h1>{{title}}</h1>
  {% if subTitle %}
  <h2>{{subTitle}}</h2>
  {% endif %}
  {{ tags | tagList }}
  {% if cover %}
  <img class="cover" src="{{cover}}" alt="{{coverAlt}}" />
  {% endif %}
  {% comment %} {% listTags tags=test %} {% endcomment %}
  {% comment %} {% tags tags %} {% endcomment %}
  {{content | articleContent }}
</main>

{% include 'signup' %}


{% if nextPost %}
<footer>
  <a href="{{ nextPost.url }}">
    <span>Up Next</span>
    <h2>{{ nextPost.data.title }}</h2>
  </a>
  {{ nextPost.data.tags | tagList }}
</footer>
{% endif %}
{% endblock %}
